/* Main grid layout (desktop) */
.layoutGrid {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 1.3fr;
    gap: 2rem;
    height: 100%;
}

/* Grid items */
.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/* ===== RESPONSIVE ===== */

/* Tablet & down */
@media (max-width: 1024px) {
    .layoutGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .box1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .box3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: 40vh;
    }

    .box2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

/* Mobile */
@media (max-width: 640px) {
    .layoutGrid {
        display: flex;
        flex-direction: column;
    }

    .box1 {
        margin-top: 1rem;
    }

    .box3 {
        height: 30vh;
        width: 85vw;
        margin-top: 4rem;
    }
}
