@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sans;
    }
}

#root {
    background: black;
}

* {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    cursor: url(./assets/cursor.png) 15 15, auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    background: black;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

a:hover,
button:hover {
    cursor: url(./assets/cursor.png) 15 15, pointer;
}